// ---------------------------------------------------------------------------
//  Languages: Go
// ---------------------------------------------------------------------------

    .syntax--source.syntax--go {
        .syntax--entity.syntax--function,
        .syntax--keyword,
        .syntax--support.syntax--function.syntax--builtin,
        .syntax--type {
            color: @color-blue;
        }

        .syntax--entity.syntax--name.syntax--type,
        .syntax--bracket,
        .syntax--punctuation.syntax--colon,
        .syntax--punctuation.syntax--comma,
        .syntax--support.syntax--function {
            color: @color-white_dark;
        }

        .syntax--constant,
        .syntax--fixme,
        .syntax--todo,
        .syntax--changed,
        .syntax--xxx,
        .syntax--idea,
        .syntax--hack,
        .syntax--note,
        .syntax--review {
            color: @color-red_pale;
        }

        .syntax--numeric.syntax--integer,
        .syntax--numeric.syntax--floating-point {
            color: @color-yellow_pale;
        }

        .syntax--placeholder {
            color: @color-yellow;
        }

        .syntax--string.syntax--quoted.syntax--double {
            .syntax--entity.syntax--name.syntax--import {
                color: @color-green;
            }
        }
    }
