// -------------------------------------
//  Colors
// -------------------------------------

@color-midnight: #141417;
@color-charcoal: #202022;
@color-charcoal_light: #2f2f2f;
@color-grey: #5f5f5f;
@color-grey_light: #b3b0a9;
@color-white_dark: #d5d5d1;

@color-brown: #a38259;
@color-brown_light: #918970;
@color-brown_dark: #5a5958;
@color-blue: #7abcd1;
@color-blue_pale: #74afb4;
@color-orange: #eebc71;
@color-orange_dark: #cf8554;
@color-beige: #b8b394;
@color-yellow: #dad672;
@color-yellow_light: #f1ee91;
@color-yellow_pale: #cfcc94;
@color-green: #98c06c;
@color-green_sea: #7ac096;
@color-green_sea-2: #6abe9d;
@color-red_pale: #db8286;
